@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn1 {
    @apply py-3 px-6 rounded-lg  bg-[#1687a7] text-white hover:border border-[#1587a7] hover:bg-transparent hover:text-[#1687a7] duration-500 transition-all ;
  }
  .btn2 {
    @apply py-3 px-6 rounded-lg  hover:bg-[#d0e7ed]  border border-[#1587a7] bg-transparent 
        text-[#1687a7] duration-500 transition-all;
  }
  .shadow-box {
    @apply shadow-[0_3px_50px_-25px_rgba(0,0,0,0.3)] shadow-[#1687a7];
  }
  .home-borders {
    @apply border-x-2 border-[#73B7CA] border-t-2;
  }
  .input-border {
    @apply border border-[#1687a7] rounded-md;
  }
  .black_border{
    @apply border border-gray-400 rounded-[3px] focus:outline-none focus:border-gray-800 hover:border-gray-800
  }
}

/* Remove default styling for input type number */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Remove the spinner arrows in Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ensure the caret appears at the correct position in IE and Edge */
input[type="number"]::-ms-clear {
  display: none;
}


.GAGAN {
  box-shadow: none;
}
.GAGAN2{
  box-shadow: rgba(53, 55, 56, 0.251) 0px 6px 24px 0px,
  rgba(144, 232, 247, 0.356) 0px 0px 0px 1px;
}

.lazy-image {
  transition: filter 0.5s ease-in-out;
}

.lazy-image.loading {
  filter: blur(10px);
  clip-path: inset(0);
   
  
 
}
.lazy-image.loaded{
  filter: blur(0px);
  transition: filter 0.5s linear;
}
.heading{
  font-family: 'Baloo', sans-serif;
}

.text-wrap {
  display: -webkit-box;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  margin-right: 4px;
}
.text-wrap1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2;
}
::-webkit-scrollbar{
  width: 12px;
  
}
::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar-thumb{
  background-color: #1687a7;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}
@media screen and (max-width: 640px) {
  .GAGAN {
    box-shadow: rgba(53, 55, 56, 0.251) 0px 6px 24px 0px,
      rgba(144, 232, 247, 0.356) 0px 0px 0px 1px;
  }
}

/* loading=== */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #1687A7;
  --fourth-color: #93d3e5;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }